@charset "euc-kr";

.main-visual{position:relative;width:100%;height:575px;}
.visual-slidesWrap{overflow:hidden;position:absolute;left:50%;margin-left:-1000px;top:0;width:2000px;height:575px;}
.visual-slideList{width:2000px;height:575px;}
.visual-slideList .slick-slide {opacity: 0;transition: opacity 1.25s ease-out;}
.visual-slideList .slick-slide.slick-current.slick-active {opacity: 1;}
.visual-slideList .slick-arrow{}
.visual-slide-control{position:absolute;left:50%;bottom:47px;margin-left:393px}
.visual-slide-control>a{position:relative;float:left;width:50px;height:50px;}
.visual-slide-control>a+a{margin-left:5px;}
.visual-slide-control>a span{position:absolute;left:50%;top:50%;display:inline-block;width:9px;height:15px;margin:-8px 0 0 -5px; text-indent:-9999em;z-index:2;}
.visual-slide-control>.btn-visual-prev span{background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -46px -48px;}
.visual-slide-control>.btn-visual-next span{background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -62px -48px;}


.visual-slide-control>a:before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background-color:#000;}
.visual-slide-control>a:hover:before{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" filter:alpha(opacity=60);opacity: 0.6;}


/* 硫붿씤 quicksearch */
.quickSearch-wrap{position:relative;width:1100px;margin:0 auto;}
.quickSearch-inner{position:absolute;left:0;top:101px;width:465px;background-color:#fff;}
.quickSearch-tab{margin:25px 30px 0;height:79px;}
.quickSearch-tab:after{content: '';display: block;clear: both;}
.quickSearch-tab li{position:relative;float:left;width:81px;text-align:center;}
.quickSearch-tab li a{position:relative;display:block;}
.quickSearch-tab li + li a:before{content:'';position:absolute;left:0;top:50%;height:20px;width:1px;margin-top:-10px;background-color:#dddddd;}
.quickSearch-tab li.active + li a:before{display:none;}

/*?솢?꽦*/
.quickSearch-tab li a:hover,
.quickSearch-tab li.active a{background-color:#2bb5b1;}
.quickSearch-tab li a:hover span,
.quickSearch-tab li.active span{color:#fff;}
.quickSearch-tab li a:hover:before,
.quickSearch-tab li.active a:before,
.quickSearch-tab li:hover + li a:before{display:none;}

.quickSearch-tab a:hover:after,
.quickSearch-tab li.active a:after{content:'';position:absolute;left:50%;bottom:-7px;width:12px;height:7px;margin-left:-6px;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -81px -217px;}

.quickSearch-tab li span{display:block;position:relative;padding-top:43px;height:28px;color:#222;}
.quickSearch-tab li span:before{content: '';position:absolute;left:50%;top:11px;background-repeat:no-repeat;background-image:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png);}
/* ?뙣?궎吏? */
.quickSearch-tab .tab-pack span:before{width:27px;height:20px;margin-left:-13px;background-position:-75px -184px;}
.quickSearch-tab .tab-pack:hover span:before,
.quickSearch-tab .active .tab-pack span:before{background-position:-75px -159px;}

/* ?옄?쑀 */
.quickSearch-tab .tab-free span:before{width:23px;height:23px;margin-left:-11px;background-position:-104px -182px;}
.quickSearch-tab .tab-free:hover span:before,
.quickSearch-tab .active .tab-free span:before{background-position:-104px -156px;}

/* ?샇?뀛 */
.quickSearch-tab .tab-hotel span:before{width:25px;height:26px;margin-left:-13px;background-position:-130px -179px;}
.quickSearch-tab .tab-hotel:hover span:before,
.quickSearch-tab .active .tab-hotel span:before{background-position:-130px -153px;}
/* ?뙣?뒪?떚耳? */
.quickSearch-tab .tab-pass span:before{width:31px;height:20px;margin-left:-16px;background-position:-158px -184px;}
.quickSearch-tab .tab-pass:hover span:before,
.quickSearch-tab .active .tab-pass span:before{background-position:-158px -158px;}

/* ?쁽吏??닾?뼱 */
.quickSearch-tab .tab-localtour:before{display:none;}
.quickSearch-tab .tab-localtour span:before{width:28px;height:22px;margin-left:-14px;background-position:-192px -184px;}
.quickSearch-tab .tab-localtour:hover span:before,
.quickSearch-tab .active .tab-localtour span:before{background-position:-192px -157px;}

/* tab-container */
.quickSearch-container{position:relative;padding:14px 30px 0;}
.quickSearch-tabCont{display:none;}

.boxselect-type1{float:left;width:190px;}
.boxselect-type1 .btn-select{display:table;width:188px;height:103px;border:1px solid #dddddd;text-align:center;}
.boxselect-type1 + .boxselect-type1{position:relative;margin-left:24px;}
.boxselect-type1 + .btn-select:after{content:'';position:absolute;right:-18px;top:50%;width:13px;height:11px;margin-top:-5px;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -113px -215px;}

.btn-select.is-open,
.btn-select:hover{border-color:#666666;}

.boxselect-type1.single{width:402px;}
.boxselect-type1.single .btn-select{width:402px;}

.tab-row-cell{position:relative;width:404px;}
.tab-row-cell:after{content:'';display:block;clear:both;}
.tab-row-cell + .tab-row-cell{margin-top:15px;}

.btn-select .txt-region{position:relative;display:table-cell;text-align:center;vertical-align:middle;}
.btn-select .txt-region i{display:block;font-size:14px;font-weight:400;color:#888;font-style:normal;text-align:center;}
.btn-select .txt-region i + strong{padding-top:11px;}
.btn-select .name{position:relative;display:inline-block;padding-right:20px;font-size:20px;font-weight:600;color:#222;text-align:center;line-height:22px;}
.btn-select .name:after{content:'';position:absolute;right:0;bottom:6px;width:12px;height:8px;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -97px -217px;}


.tab-select{display:none;}
.tab-select.is-open{display:block !important;}
/* ?긽?뭹寃??깋 select */
.boxselect-type1 .select-list{position:absolute;left:0;top:102px;background-color:#fff;border:1px solid #666;z-index:50;}
.boxselect-type1 .select-list{width:400px;}
.boxselect-type1 .select-list li a{display:block;height:14px;padding:6px 0 6px 15px;color:#666;font-size:13px;}


/* 異쒕컻?씪?꽑?깮 */
.date-select{position:relative;float:left;display:block;width:134px;height:22px;padding:8px 40px 8px 14px;margin-right:24px;}
.date-select label{position:absolute;top:10px;left:15px;height:22px;line-height:22px;color:#888;font-size:13px;}
.date-select input[type="text"]{position:absolute;left:0;top:0;width:188px;height:38px;background:0;line-height:36px;text-indent: 15px;z-index:1;border:1px solid #ddd;outline:none;}
.date-select input[type="text"]:focus{border-color:#666666;}
.date-select input[type="text"]:focus + .btn-calendar{background-color:#666;}
.date-select .btn-calendar{position:absolute;right:-1px;top:1px;width:38px;height:38px;padding:0;background-color:#aaaaaa;}
.btn-calendar i{position:absolute;left:50%;top:50%;width:15px;height:14px;margin:-7px 0 0 -7px;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -130px -214px;text-indent:-9999em;font-size:0;}
/* ?긽?뭹肄붾뱶/?뻾?궗肄붾뱶?엯?젰 */
 .product-code{position:relative;float:left;display:block;width:188px;}
 .product-code label{position:absolute;top:10px;left:15px;height:22px;line-height:22px;color:#888;font-size:13px;}
 .product-code input[type="text"]{position:absolute;left:0;top:0;width:100%;border:none;background:0;height:38px;border:1px solid #ddd;color:#222;line-height:36px; text-indent: 15px;outline:none;}
 .product-code input[type="text"]:focus{border-color:#666666;color:#222;}

/* ?룄李⑹?? */
.destination-select{position: absolute;right: 0;top: 102px;z-index:50;}
/* ?룄?떆紐낆엯?젰 */
.dest-input{width:386px;height:24px;padding:8px;border:1px solid #666;background-color:#fff;}
.dest-input label{position:absolute;top:8px;left:14px;height:24px;line-height:24px;color:#888;font-size:13px;}
.dest-input input[type="text"]{position:absolute;left:8px;top:8px;width:356px;border:none;background:0;height:24px;line-height:24px;color:#222;font-size:13px;text-indent: 15px;}
.dest-input .btn-city-search{position:absolute;right:0;top:0;width:46px;height:40px;}
/* .dest-input .btn-city-search i{position:absolute;left:50%;top:50%;width:15px;height:14px;margin:-7px 0 0 -7px;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -130px -214px;text-indent:-9999em;font-size:0;} */

/* 寃??깋寃곌낵?젅?씠?뼱 */
.autocomplete-list{width:402px;background-color:#fff;border:1px solid #666;border-top:0;z-index:50;}
.autocomplete-list .resultList{padding:5px 0;width:400px;}
.autocomplete-list .resultList li a{display:block;padding:6px 0 6px 15px;color:#666;font-size:13px;line-height: 18px;}
.autocomplete-list .resultList li a b{color:#fe922e;font-weight:normal;}

.autocomplete-list .resultNo{padding:13px 0 13px 15px;width:387px;}
.autocomplete-list .resultNo>p{color:#888;font-size:13px;line-height: 18px;}
.autocomplete-list .resultNo>p>strong{color:#222;font-weight:normal;}


/* 寃??깋 */
.quickSearch-btnArea{text-align:center;padding:15px 0 20px;}
.btn-quick-search{display:inline-block;width:200px;height:47px;background-color:#323944;line-height:47px;text-align:center;color:#fff;font-size:18px;font-weight:400;}

/* ?깭洹? */
.quickSearch-tagGroup{padding:20px 0 25px;border-top:1px solid #ddd;text-align:center;}
.quickSearch-tagGroup .hashtag{display:inline-block;padding:0 8px;height:26px;line-height:26px;border:1px solid #2bb5b1;color:#2bb5b1;font-size:13px;}
.quickSearch-tagGroup .hashtag + .hashtag{margin-left:5px;}

/*
		 ?샇?뀛 ?꺆 
*/
.hotel-destination{position:relative;display:block;width:402px;height:103px;border:1px solid #dddddd;text-align:center;}
/* 媛앹떎????엯?꽑?깮*/
.roomType-select{position:relative;float:left;display:block;width:188px;}
.roomType-select .btn-select{position:relative;display:block;height:22px;padding:8px;line-height:22px;color:#888;font-size:13px;border:1px solid #ddd;}
.room-value{display:inline-block;color:#888;}
.roomType-select .btn-select:before{content:'';position:absolute;right:-1px;top:0px;width:38px;height:38px;padding:0;background-color:#aaaaaa;}
.roomType-select .btn-select:after{content:'';position:absolute;right:15px;top:50%;width:7px;height:4px;margin:-2px 0 0 -3px;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -148px -220px;}

.roomType-select .btn-select.is-open,
.roomType-select .btn-select:hover{border-color:#666;color:#222;}
.roomType-select .btn-select.is-open:before,
.roomType-select .btn-select:hover:before{background-color:#666;}
.roomType-select .btn-select.is-open:after,
.roomType-select .btn-select:hover:after{background-position:-157px -220px;}

.roomType-selectLayer{position:absolute;left:0;top:38px;width:260px;height:275px;background-color:#fff;border:1px solid #666;z-index:2;}
.roomType-optlist{margin:25px;}
.roomType-optlist li + li{margin-top:10px;}
.roomType-optlist .roomlabel{display:inline-block;width:60px;font-size:13px;color:666;vertical-align:middle;line-height:18px;}
.roomType-optlist .input-number{position:relative;display:inline-block;width:112px;padding-left:33px;height:33px;vertical-align:middle;border:1px solid #ddd;}

.roomType-optlist .input-number input.text { width:78px; height:34px; text-indent:15px; border:0; line-height:34px; vertical-align:top; background:transparent; }
.roomType-optlist .input-number .up,
.roomType-optlist .input-number .down { position:absolute; width:33px; height:33px;}
.roomType-optlist .input-number .up {right:0;top:0;border-left:1px solid #ddd;}
.roomType-optlist .input-number .up:after,
.roomType-optlist .input-number .down:after{content:'';position:absolute;left:50%;top:50%;width:13px;height:13px;background-image:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png);background-repeat:no-repeat;}
.roomType-optlist .input-number .down{ left:0;top:0;border-right:1px solid #ddd;}
.roomType-optlist .input-number .down:after{background-position:-194px -220px;margin:-0px 0 0 -6px;}
.roomType-optlist .input-number .up:after{background-position:-175px -214px;margin:-8px 0 0 -6px;}

.roomType-selectLayer .btn-wrap{text-align:center;}
.btn-RooMcomplete{width:100px;height:35px;background-color:#fe922e;text-align:center;}
.btn-RooMcomplete:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
.btn-RooMcomplete span{vertical-align:middle;font-size:14px;font-weight:500;text-align:center;}

/*
		?뙣?뒪?떚耳?
*/
#tab-pass .origin-box:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
#tab-pass .name.value{display:inline-block;width:37px;}

.pass-select{position:relative;float:left;display:block;width:188px;margin-right:24px;}
.pass-select .btn-select{position:relative;display:block;height:22px;padding:8px;line-height:22px;color:#888;font-size:13px;border:1px solid #ddd;}
.pass-select .btn-select .value{color:#888;}

.pass-select .btn-select:before{content:'';position:absolute;right:-1px;top:0px;width:38px;height:38px;padding:0;background-color:#aaaaaa;}
.pass-select .btn-select:after{content:'';position:absolute;right:15px;top:50%;width:7px;height:4px;margin:-2px 0 0 -3px;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -148px -220px;}

.pass-select .btn-select.is-open,
.pass-select .btn-select:hover{border-color:#666;color:#222;}
.pass-select .btn-select.is-open:before,
.pass-select .btn-select:hover:before{background-color:#666;}
.pass-select .btn-select.is-open:after{background-position:-157px -220px;}



.boxselect-type1 .pass-list{top:103px;width:188px;}

/* ?긽?뭹寃??깋 select */
.pass-list{position:absolute;left:0;top:39px;width:186px;padding:5px 0;background-color:#fff;border:1px solid #666;z-index:50;}
.pass-list li a{display:block;height:14px;padding:6px 0 6px 15px;color:#666;font-size:13px;}

/* ?뙣?뒪 ?긽?뭹紐낆엯?젰 */
.product-name{position:relative;float:left;display:block;width:188px;}
.product-name label{position:absolute;top:10px;left:15px;height:22px;line-height:22px;color:#888;font-size:13px;}
.product-name input[type="text"]{position:absolute;left:0;top:0;width:100%;border:none;background:0;height:38px;border:1px solid #ddd;color:#222;line-height:36px; text-indent: 15px;outline:none;}
.product-name input[type="text"]:focus{border-color:#666666;color:#222;}




/* 硫붿씤 而⑦뀗痢? */
.row-cell .inner{width:1100px;margin:0 auto;}
.row-cell .inner:after{content:'';display:block;clear:both;}
.ad-section{padding:6px 0 60px;}
.ad-section:after {content:'';display:block;clear:both;}
.ad-section .column{overflow:hidden;float:left;width:258px;height:296px;border:1px solid #dddddd;}
.ad-section .column + .column{margin-left:20px;}

/* ?솃?눥?븨?뙣?궎吏? */
.ad-homeShopping{overflow:hidden;}
.hslist-item{height:249px;padding:26px 0 21px 0;}
.hslist-item>a{display:block;}
.hslist-item .thumbnail{position:relative;width:170px;height:170px;margin:0 auto;}
.hslist-item .img-tag{position:absolute;right:-15px;top:-1px;width:51px;height:34px;padding:15px 0 0 0;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat 0 -149px;z-index:3;text-align:center;font-family:'援대┝',gulim;font-size:12px;line-height:14px;color:#fff;}
.hslist-item .img-info{position:relative;overflow:hidden;display:inline-block;width:170px;height:170px;border-radius:50%;}
.hslist-item .img-info:before{content:'';position:absolute;left:0;top:110px;width:170px;height:60px;background:#000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" filter:alpha(opacity=60);opacity: 0.6;z-index:1;}
.hslist-item .img-info .img-txt{position:absolute;top:120px;left:0;width:100%;height:60px;color:#fff;font-size:13px;text-align:center;line-height:16px;z-index:2;font-weight:300;}
.hslist-item .img-info .img-txt>strong{display:block;font-weight:300;}
.hslist-item .desc{width:170px;margin:0 auto;padding-top:18px;font-size:18px;text-align:center;color:#222;line-height:20px;font-weight:500;}

/* ?룎諛쒗듅媛? */
.unexplist-item{height:298px;}
.unexplist-item>a{display:block;height:298px;}
.unexplist-item .thumbnail{position:relative;width:258px;height:210px;}
.unexplist-item .img-txt{position:absolute;top:50px;left:0;width:100%;height:60px;color:#222;font-size:14px;text-align:center;line-height:16px;z-index:2;font-weight:300;}
.unexplist-item .img-txt>strong{display:block;padding-bottom:8px;font-size:18px;font-weight:700;}
.unexplist-item .desc{width:170px;margin:0 auto;padding-top:20px;font-size:18px;text-align:center;color:#222;line-height:20px;font-weight:500;}

/* 寃뚮┫?씪 */
.ad-guerilla .thumbnail{position:relative;}
.ad-guerilla .timebox{position:absolute; left:0; top:48px;width:100%;text-align:center;}
.timebox .time-info{position:relative;display:inline-block;width:78px;height:28px;margin-bottom:10px;}
.timebox .time-info:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
.timebox .time-info i{position:relative;z-index:2;font-style:normal;color:#fff;font-size:13px;vertical-align:middle;font-weight:300;}
.timebox .time-info:after{content:'';position:absolute;left:0;top:0;width:78px;height:28px;border-radius:14px;border:1px solid #fff;background-color:#000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" filter:alpha(opacity=50);opacity: 0.5;z-index:1;}
.time{display:block;font-size:0;}
.time>span{display:inline-block;height:32px;line-height:32px;padding:0 6px;border-radius:4px;background-color:#000;font-size:22px;font-weight:700;color:#fff;}
.time .number + .number{margin-left:2px;}
.time .dash{width:6px;padding:0;background:transparent;font-size:22px;color:#000;text-align:center;}
.ad-guerilla .desc{padding:20px 0;text-align:center;font-size:18px;text-align:center;color:#222;line-height:20px;font-weight:500;}
.ad-guerilla .desc>strong{display:block;padding-bottom:8px;font-weight:500;}
.ad-guerilla .desc>span{font-size:14px;color:#666;}

/* ?뀒留? */
.theme-section{padding:60px 0;background-color:#f1f4f6;}
.theme-section .column{float:left;width:260px;}
.theme-section .theme-slideZone{width:580px;height:350px;}

/* samll banner */
.small__item{overflow:hidden;position:relative;width:260px;height:175px;}
.small__item .desc{position:absolute;left:20px;bottom:65px;font-size:13px;color:#fff;}

/* ?뀒留덈같?꼫 */
.slide-theme{overflow:hidden;position:relative;width:580px;height:350px;}
.slide-theme-item{position:relative;}
.slide-theme-item .desc{position:absolute;top:40px;left:50px;width:61px;height:26px;line-height:26px;border:1px solid #feb067;border-radius:14px;font-size:13px;color:#feb067;text-align:center;font-weight:300;}
.slide-theme-item{overflow:hidden;width:580px;height:350px;}
.slide-theme-control{position:absolute;right:20px;bottom:20px;}
.slide-theme-control>a{position:relative;float:left;width:40px;height:40px;}
.slide-theme-control>a+a{margin-left:5px;}
.slide-theme-control>a span{display:inline-block;width:7px;height:11px;text-indent:-9999em;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -3px -66px;}
.slide-theme-control>a:before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background-color:#000;}
.slide-theme-control>a:hover:before{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" filter:alpha(opacity=60);opacity: 0.6;}

/* ?젣?쑕 諛곕꼫*/
.slide-alliance{overflow:hidden;position:relative;width:580px;height:175px;}
.slide-alliance-list{overflow:hidden;width:580px;height:175px;}
.slide-alliance-control>a{position:absolute;top:50%;margin-top:-13px;width:20px;}
.slide-alliance-control>a span{display:inline-block;width:15px;height:26px;text-indent:-9999em;background-image:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png);background-repeat:no-repeat;}
.slide-alliance-control .btn-alliance-prev{left:20px;}
.slide-alliance-control .btn-alliance-prev span{background-position:-81px -75px;}
.slide-alliance-control .btn-alliance-prev:hover span{background-position:-81px -48px;}
.slide-alliance-control .btn-alliance-next{right:20px;}
.slide-alliance-control .btn-alliance-next span{background-position:-105px -75px;}
.slide-alliance-control .btn-alliance-next:hover span{background-position:-105px -48px;}


/* large banner */
.large__item{overflow:hidden;position:relative;width:260px;height:525px;}
.large__item .desc{width:100%;position:absolute;left:0;top:50px;text-align:center;}
.large__item .desc i{display:inline-block;padding-bottom:7px;border-bottom:1px solid #fff;font-size:13px;color:#fff;font-weight:300;font-style:normal;}

.theme-section .column a:hover img {-webkit-transform: scale(1.1); transform: scale(1.1);}
.theme-section .column img {-webkit-transition: all .4s linear; transition: all .4s linear;}

/* ?빂?씠?뒋 */
.iessu-section{padding:60px 0;}
.iessu-section .iessu-list{width:1100px;margin:0 auto;}
.iessu-section .iessu-list:after{content:'';display:block;clear:both;}
.iessu-section .iessu-list-item{float:left;width:200px;height:262px;padding:0 30px;}
.iessu-section .iessu-list-item + .iessu-list-item{margin-left:20px;}
.iessu-section .thumbnail{overflow:hidden;position:relative;width:200px;height:200px;border-radius:50%;}
.iessu-section .iessu-list-item>a:hover .img-txt{opacity:1;transition:all 0.6s;}
.iessu-section .thumbnail .img-txt{display:table;position:absolute;left:0;top:0;width:200px;height:200px;text-align:center;color:#fff;opacity: 0;transition:all 0.6s;}
.iessu-section .thumbnail .img-txt:after{content:'';position:absolute;left:0;top:0;width:200px;height:200px;background:#000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" filter:alpha(opacity=60);opacity: 0.6;z-index:1;}
.iessu-section .thumbnail .img-txt>strong{display:table-cell;position:relative;z-index:2;vertical-align:middle;font-weight:300;}
.iessu-section .desc{padding:20px 0 0 0;font-size:14px;color:#888888;font-weight:500;text-align:center;line-height:18px;}
.iessu-section .desc>strong{display:block;padding-bottom:7px;font-size:16px;color:#222222;}

/* ?떆利뚰빂?뒪?뙚 */
.spot-section{overflow:hidden;position:relative;height:330px;background-color:#37588b;}
.spot-navWrap{position:absolute;left:50%;top:0;width:245px;margin-left:-550px;padding-left:30px;}
.spot-navWrap>h2{margin:60px 0 15px;font-size:20px;color:#fff;font-weight:700;}
.spot-nav{width:180px;}
.spot-nav li a{position:relative;display:block;padding:12px 0 8px;color:#fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)" filter:alpha(opacity=80);opacity:0.8;}
.spot-nav li a:after{content:'';position:absolute;right:-40px;top:50%;width:7px;height:11px;margin-top:-6px;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -1px -48px;	transition: all 200ms ease;}

.spot-nav li a:hover,
.spot-nav li.slick-current a{padding-bottom:7px;border-bottom:1px solid #fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" filter:alpha(opacity=100);opacity:1;}
.spot-nav li.slick-current a:after,
.spot-nav li a:hover:after{right:0;}
.spot-list{width:1275px;height:330px;position:absolute;left:50%;top:0;margin-left:-275px;}
.slick-slide.spot-list-item{border:0;}
.spot-list-item{overflow:hidden;width:1275px;height:330px;}
.spot-content{overflow:hidden;width:1275px;height:330px;background-color:#fff;}

/* spot layer */
.layer-spot1{}
.main-layer-spot .layerContnet{padding:45px 50px;background-color:#fff;}
.main-layer-spot .layerContnet h1>span{position:relative;display:inline-block;height:26px;padding:0 8px 0 29px;border:1px solid #2bb5b1;line-height:26px;font-size:13px;color:#2bb5b1;font-weight:300;}
.main-layer-spot .layerContnet h1>span:before{content:'';position:absolute;left:9px;top:5px;width:17px;height:17px;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -151px -114px;}
.main-layer-spot .layerContnet h1>strong{display:block;padding:10px 0 20px 0;font-size:25px;font-weight:700;color:#222;}
.main-layer-spot .spot-vod-desc{padding:30px 0 0 0;font-size:13px;font-weight:400;color:666;line-height:20px;}
.main-layer-spot .spot-procuct-list{padding:30px 50px;background-color:#323944;}
.main-layer-spot .spot-procuct-list h2{padding:0 0 20px 0;color:#fff;font-weight:500;font-size:14px;}
.main-layer-spot .spot-procuct-list ul{overflow:hidden;}
.main-layer-spot .spot-procuct-list li{float:left;}
.main-layer-spot .spot-procuct-list li+li{margin-left:17px;}

/* ?뿬?뻾諛뺤궗異붿쿇 */
.recome-section{padding:60px 0;}
.recome-heading{position:relative;padding:0 30px 20px;}
.recome-heading>h2{font-size:20px;color:#222;font-weight:700;}
.recome-heading .recome-tab{position:absolute;right:18px;top:0;}
.recome-heading .recome-tab>li{position:relative;display:inline-block;padding: 0 12px;}
.recome-heading .recome-tab>li + li:after{content:'';position:absolute;left:0;top:50%;width:1px;height:10px;margin-top:-5px;background-color:#aaaaaa;}
.recome-heading .recome-tab>li>a{display:block;padding-bottom:3px;font-size:15px;font-weight:300;color:#666;}
.recome-heading .recome-tab>li>a.active,
.recome-heading .recome-tab>li>a:hover{color:#fe922e;padding-bottom:2px;border-bottom:1px solid #fe922e;}

.recome-container{position:relative;padding:0 30px;height:318px;}
.recome-list-item>div{float:left;width:198px;height:316px;border:1px solid #dddddd;}
.recome-list-item>div + div{margin-left:10px;}
.recome-list-item .thumbnail{overflow:hidden;position:relative;width:198px;height:210px;}
.recome-list-item .thumbnail img{webkit-transition: all .4s linear; transition: all .4s linear;}
.recome-list-item>div>a:hover img{webkit-transform: scale(1.1); transform: scale(1.1);}
.recome-list-item .img-tag{overflow:hidden;position:absolute;right:10px;top:10px;width:42px;height:42px;border-radius:50%;text-align:center;}
.recome-list-item .img-tag>i{position:relative;display:inline-block;width:42px;line-height:42px;vertical-align:middle;font-size:13px;color:#fff;font-weight:300;font-style:normal;text-align:center;z-index:2;}
.recome-list-item .img-tag:before{content:'';position:relative;display:inline-block;height:100%;vertical-align:middle;}
.recome-list-item .img-tag:after{content:'';position:absolute;left:0;top:0;width:42px;height:42px;background-color:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" filter:alpha(opacity=50);opacity:0.5;z-index:1;}
.recome-list-item .desc{padding:20px 14px 18px;}
.recome-list-item .desc-tit{display:block;padding-bottom:15px;font-size:15px;color:#222222;font-weight:400;line-height:20px;}
.recome-list-item .price{font-size:15px;color:#ff5a0f;font-weight:500;}


.recome-control{}
.recome-control>a{position:absolute;top:125px;width:15px;height:26px;}
.recome-control .btn-recome-prev{left:-30px;}
.recome-control .btn-recome-next{right:-30px;}
.recome-control>a span{display:inline-block;width:15px;height:26px;text-indent:-9999em;background-image:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png); background-repeat:no-repeat;}
.recome-control .btn-recome-prev span{background-position:-461px -156px;}
.recome-control .btn-recome-prev:hover span{background-position:-461px -183px;}
.recome-control .btn-recome-next span{background-position:-482px -156px;}
.recome-control .btn-recome-next:hover span{background-position:-461px -183px;}


/* 諛곕꼫 */
.banner-section{padding:60px 0;background-color:#f1f4f6;}
.banner-section h2{padding-bottom:20px;font-size:20px;color:#222;font-weight:700;}
.exhibition-banner,
.event-banner{position:relative;float:left;width:540px;}
.event-banner{margin-left:20px;}
.exhibition-bnrlist,
.event-bnr-list{overflow:hidden;width:540px;height:150px;}
.event-control,
.exhib-control{position:absolute;top:0;right:0;}
.event-control>a,
.exhib-control>a{float:left;width:21px;height:21px;background-color:#fff;border:1px solid #a9aaac;text-align:center;}
.event-control>a+a,
.exhib-control>a+a{border-left:0;}
.event-control>a span,
.exhib-control>a span{display:inline-block;width:5px;height:9px;margin-top:6px;text-indent:-9999em;}
.event-control .btn-event-prev span,
.exhib-control .btn-exhib-prev span{background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -69px -127px;}
.event-control .btn-event-next span,
.exhib-control .btn-exhib-next span{background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -76px -127px;}



/* ?븯?떒 ?븞?궡 */
.userGuide-section{border-top:1px solid #dddddd;}
.userGuide-section h2{width:206px;margin:0 auto;padding-bottom:18px;border-bottom:1px solid #dddddd;font-size:20px;color:#222;font-weight:700;line-height:25px;text-align:center;letter-spacing:-0.025em;}
.cs-wrap,.tourGuide,.useGuide,.snsGroup{float:left;width:214px;height:221px;padding:40px 20px 60px 30px;border-left:1px solid #dddddd;}

/* ?긽?떞臾몄쓽 */
.cs-wrap{width:215px;border-left:0;}
.cs-wrap .btn_officeGuide{display:inline-block;width:59px;height:25px;margin-left:5px;background-color:#aaa;font-size:12px;font-weight:300;text-align:center;line-height:25px;}
.centerLis{margin-right:20px;}
.centerList li{float:left;width:102px;padding:7px 0 7px 4px;font-size:14px;color:#666;line-height:18px;letter-spacing:-0.035em;}
.centerList li.odd{width:105px;}
.centerList li span{display:block;}
.centerList .CenterMain{float:none;width:auto;padding:18px 0 10px 7px;font-size:18px;color:#222;font-weight:500;}
.centerList .CenterMain span{display:inline-block;font-weight:400;}

/* ?뿬?뻾?븞?궡 */
.tourGuide-list{}
.tourGuide-list:after{content:'';display:block;clear:both;}
.tourGuide-list{padding-top:10px;}
.tourGuide-list > li{float:left;width:75px;height:34px;padding-left:4px;font-size:14px;color:#666;line-height:34px;letter-spacing:-0.035em;}
.tourGuide-list > li.odd{width:131px;padding-left:4px;}
.tourGuide-list .ui-dropdown{position:relative;}
.tourGuide-list .ui-dropdown span{display:inline-block;position:relative;padding-right:15px;}
.tourGuide-list .ui-dropdown span:after{content:'';position:absolute;right:0;top:50%;width:7px;height:4px;margin-top:-2px;background:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png) no-repeat -28px -29px;transition: transform .5s;-webkit-transition: transform .5s;}
.tourGuide-list .ui-dropdown.on span:after{transform:rotate(180deg); -webkit-transform:rotate(180deg);}
/* ????꽭?뿬?뻾 */
.tour-trendList{display:none;position:absolute;left:-16px;;top:30px;width:98px;padding:9px 0;border:1px solid #dddddd;background-color:#fff;z-index:95;}
.tour-trendList li>a{display:block;padding-left:14px;height:23px;line-height:23px;text-align:left;font-size:13px;}

/* ?씠?슜?븞?궡 */
.useGuide-list{}
.useGuide-list:after{content:'';display:block;clear:both;}
.useGuide-list{padding-top:10px;}
.useGuide-list li{float:left;width:75px;height:34px;padding-left:4px;font-size:14px;color:#666;line-height:34px;letter-spacing:-0.035em;}
.useGuide-list li.odd{width:131px;padding-left:4px;}

/* ?뿬?뻾諛뺤궗sns */
.snsGroup-list{}
.snsGroup-list:after{content:'';display:block;clear:both;}
.snsGroup-list{padding-top:10px;}
.snsGroup-list li{float:left;width:70px;height:46px;margin-bottom:9px;text-align:center;}
.snsGroup-list li span{overflow:hidden;display:inline-block;width:46px;height:46px;text-indent:-9999em;background-repeat:no-repeat;background-image:url(//cdnimg.tourbaksa.com/PC/www/new/layout/tb_iconset.png)}
.btn-sns-facebook span{background-position:-231px 0;}
.btn-sns-blog span{background-position:-278px 0;}
.btn-sns-post span{background-position:-325px 0;}
.btn-sns-kakaostory span{background-position:-231px -47px;}
.btn-sns-kakaotok span{background-position:-278px -47px;}
.btn-sns-youtube span{background-position:-325px -47px;}
.btn-sns-twitter span{background-position:-231px -94px;}
.btn-sns-instagram span{background-position:-278px -94px;}

